---
import {Icon} from 'astro-icon';

export interface Props {
	body: string;
	iconName: string;
	linkText: string;
	url: URL
}

const {body, iconName, linkText, url} = Astro.props;
---

<div class="cta-well">
	<Icon pack="fa-solid" name={iconName} />
	<p class="body">{body}</p>
	<a href={url}>
		{linkText} <Icon pack="fa-solid" name="arrow-right" aria-hidden focusable="false" />
	</a>
</div>

<style lang="scss">
	@use 'open-props-scss' as op;
	@import '../styles/mixins.scss';

	.cta-well {
		width: 100%;
		background-color: op.$stone-2;
		border: 1px solid op.$stone-4;
		padding-block: op.$size-7;
		display: grid;
		place-items: center;
		gap: op.$size-3;

		& > svg {
			width: op.$size-9;
		}

		.body {
			font-size: op.$font-size-4;
			font-weight: bold;
		}

		a {
			@include cta();
			margin-block-start: op.$size-1;
		}
	}
</style>