---
import type { WithId } from 'mongodb';
import type { Brand, Month, Rating, Steep, Tea, WithEmptyStringOption } from '../types/api';
import { sluggify } from '../utils/slug';
import StaticRating from './StaticRating.astro';
import {Icon} from 'astro-icon';
import IconWithPopup from './IconWithPopup.astro';

export interface Props {
	brand: WithId<Brand>,
	tea: WithId<Tea>;
	steeps: WithId<Steep>[];
}

const {brand, steeps, tea} = Astro.props;
const cardIdPrefix = `tea-card-${tea._id.toString()}`;
const steepCount = steeps.length === 1 ? '1 steep' : `${steeps.length} steeps`;

const titleId = `${cardIdPrefix}-header`;
const brandId = `${cardIdPrefix}-brand`;

const brandSlug = sluggify(brand.name);
const teaSlug = sluggify(tea.name);
const href = new URL(`/teas/${brandSlug}/${teaSlug}/`, Astro.url);

const highestRating = steeps.reduce((currentMax: WithEmptyStringOption<Rating>, steep) => {
	if (!steep.rating) {
		return currentMax;
	}

	const numericRatingOfCurrentSteep = Number(steep.rating);
	const numericRatingOfCurrentMax = Number(currentMax);
	if (numericRatingOfCurrentSteep > numericRatingOfCurrentMax) {
		return steep.rating;
	}

	return currentMax;
}, '');

type Availability = 'available' | 'unavailable' | 'leaving';
let teaAvailability: Availability = 'available';
let availabilityTooltip = '';

const today = new Date();
const currentMonth = today.toLocaleDateString('en-US', {month: 'long'}) as Month;
const nextMonth = new Date(today.getFullYear(), today.getMonth() + 1, 1)
	.toLocaleDateString('en-US', {month: 'long'}) as Month;
const excludedFromCurrentMonth = !!(tea.monthsAvailable?.length) && !tea.monthsAvailable.includes(currentMonth);
const leavingSoon = tea.monthsAvailable?.includes(currentMonth) && !tea.monthsAvailable.includes(nextMonth);

if (tea.discontinued) {
	teaAvailability = 'unavailable';
	availabilityTooltip = 'This tea has been discontinued.';
} else if (excludedFromCurrentMonth) {
	teaAvailability = 'unavailable';
	availabilityTooltip = 'This tea is not in stock this month.';
} else if (leavingSoon) {
	teaAvailability = 'leaving';
	availabilityTooltip = 'This tea will no longer be available soon.';
}
---

<article
	aria-labelledby={titleId}
	data-favorite={tea.favorited ? 'true' : undefined}
	data-availability={teaAvailability}
>
	<div class="bottom-border">
		<p id={titleId} class="title">
			<a href={href} aria-describedby={brandId}>
				{tea.name}
			</a>
			{tea.favorited && (
				<Icon
					pack="fa-solid"
					name="star"
					aria-label="Favorited"
				/>
			)}
		</p>
		<div id={brandId} class="subtitle">
			{teaAvailability === 'unavailable' && (
				<IconWithPopup
					label={`${tea.name} unavailable`}
					name="raphael:no"
				>
					{availabilityTooltip}
				</IconWithPopup>
			)}
			{teaAvailability === 'leaving' && (
				<IconWithPopup
					label={`${tea.name} leaving`}
					name="mdi:warning"
				>
					{availabilityTooltip}
				</IconWithPopup>
			)}
			<span class="brand">{brand.name}</span>
		</div>
	</div>
	<div class="meta">
		<div class="interpuncted">
			{!!tea.teaType?.length && <span>{tea.teaType.join(', ')}</span>}
			<span>{steepCount}</span>
			{tea.wishlist && <span><strong>In wishlist</strong></span>}
		</div>
		<div>
			<StaticRating rating={highestRating} />
		</div>
	</div>
</article>

<style lang="scss">
	@use 'open-props-scss' as op;
	@use '../styles/tokens.scss' as tokens;
	@import '../styles/mixins.scss';

	article {
		@include fully-clickable();
		display: flex;
		flex-direction: column;
		height: 100%;
		background-color: var(--card-surface);
		border-radius: op.$radius-2;
		box-shadow: var(--shadow);
		border: 1px solid op.$gray-2;
		color: var(--ink);
		padding-block: op.$size-3;
		
		& > div {
			padding-inline: op.$size-3;
		}
	}

	.bottom-border {
		padding-block-end: op.$size-2;
		margin-block-end: op.$size-2;
		// border-block-end: 1px solid op.$gray-3;
	}

	.title {
		font-size: op.$font-size-2;
		font-weight: op.$font-weight-9;
		line-height: op.$font-lineheight-1;
		display: inline-block;
		width: 100%;

		a {
			color: tokens.$teal-9;
			text-decoration-thickness: 1px;

			&:not(:hover):not(:focus) {
				text-decoration: none;
			}
		}

		svg {
			display: inline-block;
			height: 0.9rem;
			color: goldenrod;
		}
	}

	.subtitle {
		font-size: op.$font-size-1;
		margin-block-start: -0.075rem;
		
		& .brand {
			color: op.$stone-8;
			font-weight: op.$font-weight-7;
		}
	}

	.interpuncted {
		margin-block-start: op.$size-2;
		& > *:not(:last-child) {
			&::after {
				content: ' · '
			}
		}
	}

	.meta {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	[data-availability="unavailable"] {
		background-color: op.$stone-3;
		border: 1px solid op.$gray-4;

		.bottom-border {
			border-block-end: 1px solid op.$gray-4;
		}
	}

	.no-widow {
		white-space: nowrap;
	}
</style>